body {
    background-image: url("ASSETS/home_bg.jpg");
    font-family: "HelveticaNeue-Light";
    color: #41DF56
}

#logo{
  width: 700px;
  margin-top: 95px;
}

#info img{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}

#my_popup{
}

#overlay_popup{
  border-top-color: #F77534;
  border-left-color: #403C3B;
  border-right-color: #403C3B;
  border-style: solid;
  border-bottom-color: #403C3B;
  border-top-width: 20px;
  background-color: #403C3B;
  /*top: 10px;*/
  height: 740px;
  /*width: 400px;*/
}

#overlay_popup p{
  margin: 40px;
}

.my_popup_close img{
  position: absolute;
  top: 30px;
  right: 10px;
  height: 20px;
  width: 20px;
}

input.button{
  background: transparent;
  border-color: #41DF56;
}

#mce-EMAIL{
  height: 23px;
  width: 150px;
  position: absolute;
  border-color: #FEF02F;
  background: #FEF02F;
  font-family: "HelveticaNeue-Light";
  font-size: 100%;
  outline: none;
}

#mc-embedded-subscribe{
  border-color: #FEF02F;
  height: 30px;
  width: 100px;
  position: relative;
  left: 160px;
  background: #FEF02F;
  font-family: "HelveticaNeue-Light";
  outline: none;
  font-size: 100%;
}

#follow{
  height: 20px;
  width: 20px;
}
